* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
	padding: 10px;
	text-align: center;
	
	.container {
		display: flex;
		width: 100%;
  		margin: auto;
  		padding: 15px;
  		background-color: gray;

		.highlighted {
			background: lime;
			display: inline-flex;
			margin: 10px;
			width: 200px;
			border: 1px solid #000;
			min-height: 100px;
			text-align: center;
			vertical-align: top;

			header {
				display: block;
				border-bottom: 1px solid #000;
			}
		}

		.special-header {
			display: inline-flex;
			margin: 10px;
			width: 200px;
			border: 1px solid #000;
			min-height: 100px;
			text-align: center;
			vertical-align: top;

			header {
				display: block;
				border-bottom: 1px solid #000;
				font-weight: bold;
				background: yellow;
			}

			p {

			}
		}

		.important {
			opacity: 1;	
			display: inline-flex;
			margin: 10px;
			width: 200px;
			border: 1px solid #000;
			min-height: 100px;
			text-align: center;
			vertical-align: top;

			header {
				display: block;
				border-bottom: 1px solid #000;
			}
		}
	}
}